<style>  
body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/bg-sky.png);
  background-repeat: repeat;
 
}

ul.rel-results {
  list-style-type: circle;
}

.nojs {
  padding: 2px;
  padding-left: 6px;
  margin-bottom: 5px;
  background: #ff0000;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}

.outerdiv {
  margin-top: 60px;
}

.span-style {
  font-size: 17px;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  margin-bottom: 25px;
}

.bar-style {
  background: #337AB7;
  color: rgb(250, 250, 250);
}

.related-results {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.movie-poster {
  float: left;
  width: 150px;
  margin-right: 10px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.span-outer {
  font-size: 20px;
}

.outer-p {
  margin-top: 10px;
}

.inner-p {
  margin: 2px;
}

.outer-p-2 {
  margin-top: 5px;
}

.outer-p-3 {
  margin-top: 15px;
}

.divider {
  margin: 0 8px 0 8px;
}

.divider:before {
  content: "|";
}

@media (max-width: 300px) {
  .related-results {
    display: none;
  }
}

.bottomLine {
  border-bottom: 1px solid #1E90FF;
  margin: 0 88px 0 88px;
}



/* css for AppCtrl*/
.dialogdemoBasicUsage {
  margin: 10px;
}

.dp{
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 3pt;

}
.top{
    float: left;
    width: 100%;
    color: black;
    margin-left: 10px;
    font-size: 13pt;
}
.top p, h2 { 
    margin-left: 250px;
}

.modal-body{
    width: 32%;
    float: left;
}

#modalBody p{
  font-size: 11pt;
  color: black;
}

#modalBody {
  color: #0066CC;
}
#extraInfo {
    clear:both;
}
#externalLinks {
    clear:both;
    color: blue;
}
#saleInfo {
    float:left;
}
#previewText o{
    clear:both;
    color:blue;
}


</style>
<div>
  <div ng-show='showSearch' ng-cloak class="container-fluid outerdiv">
      <!--
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>Google Books</b> <span class="span-style">library</span></a> 
      </div>
    </div>
  </nav>
      -->

  <noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
  </noscript>

  <div class="animated zoomInRight">
      <!--
      <div >
      -->
    <div id="main-info" class="col-sm-8">
        <img ng-src="{{bookInfo.imageLinks.smallThumbnail}}" class="thumbnail animated flip movie-poster">

        <span class="span-outer">
          <a href="{{ bookInfo.previewLink }}" target="_blank">{{bookInfo.title}}</a>
        </span>, {{bookInfo.Year}}

        <p><strong>Publisher:</strong> {{bookInfo.publisher}}
      <br>
          <strong>Published Date:</strong> {{bookInfo.publishedDate}}
      <br>
      <strong>{{bookInfo.industryIdentifiers[0]['type']}}:</strong> {{bookInfo.industryIdentifiers[0]['identifier']}}
      </p>

        <p>{{bookInfo.description}}</p>

      </div>
 <div id="related-results" class=" animated bounce related-results col-sm-4">
        Related Results:
        <hr>

        <ul class="rel-results">
          <li ng-repeat="book in relatedBooks | orderBy:'volumeInfo.title'">
            <a href="#" id="{{ $index + 1 }}" ng-click="update(book)">{{book.volumeInfo.title }}</a>,
          </li>
        </ul>
    </div>

 <div id="extraInfo" class=" col-md-4 outer-p-2"><strong>Info:</strong>
        <table>
        <tr>
            <td> Author:</td>
            <td>{{bookInfo.authors[0]}} </td>
        </tr>
        <tr>
            <td> Categories:</td>
            <td>{{bookInfo.categories[0]}} </td>
        </tr>
       </table>
   
    </div>
  <div id="saleInfo" class=" col-md-4 outer-p-2"><strong>Sale Info:</strong>
      <table>
        <tr>
            <td> Country:</td>
            <td> {{saleInfo.country}}</td>
        </tr>
        <tr>
            <td> Sale Ability:</td>
            <td>{{ saleInfo.saleability.split('_').join(' ')}}</td>
        </tr>
        <tr>
            <td> List Price:</td>
            <td>{{ saleInfo.listPrice.amount}} {{saleInfo.listPrice.currencyCode | lowercase}} </td>
        </tr>
        <tr>
            <td> Retail Price:</td>
            <td>{{ saleInfo.listPrice.amount}} {{saleInfo.retailPrice.currencyCode | lowercase}} </td>
        </tr>
       </table>
      </div>
   <div class=" col-md-4 outer-p-2"><strong>Ratings:</strong>
       <table>
        <tr>
            <td> Average Rating:</td>
            <td>{{bookInfo.averageRating}} </td>
        </tr>
        <tr>
            <td> Rating Count:</td>
            <td>{{bookInfo.ratingsCount}} </td>
        </tr>
        <tr>
            <td> Maturity Rating:</td>
            <td>{{bookInfo.maturityRating.split('_').join(' ')}}</td>
        </tr>
       </table>
  </div>

       </div>
       <div id="previewText" class="col-md-12">
           <p style="text-align:center color:blue"> </p>
        </div>
       <div id=externalLinks class="col-md-12">
           <div class="col-md-1">
                <p> </p>
            </div>
           <div class="col-md-4">
		        <a  class="btn btn-primary btn-lg btn-block" href="{{ bookInfo.previewLink }}" target="_blank">Preview of Book</a>
            </div>
           <div class="col-md-2">
                <p> </p>
            </div>
           <div class="col-md-4">
		        <a  class="btn btn-primary btn-lg btn-block" href="{{
                            purchaseSite }}" target="_blank">Purchase Sites</a> </div>
           <div class="col-md-1">
                <p> </p>
            </div>
        </div>
        <!--
		        <button  type="button" class="btn btn-primary btn-lg btn-block" id="preview_button">Preview of Book</button>
        <a href="{{ bookInfo.previewLink }}">here</a> to go to yahoo.
   </div> 
        -->
      <div ng-if="bookInfo.res==='False'">
        No results found.
      </div>
     
    

       </div>
        <!--
  <div ng-if="!bookInfo">
      Failed to load resource: the server responded with a status of 403 (Forbidden)
        <br><br><br>
      </div>
        -->
 </div> 
</div> <!-- end of bookCtrl -->

<!-- start of AppCtrl -->
<div class="bottomLine animated zoomInRight">
</div>


